@use '@angular/material' as mat;
@use 'tailwindcss';

/** {
  margin: 0;
  padding: 0;
}*/

:root {
  @include mat.form-field-overrides((
          outlined-caret-color: red
  ));
}


.three-canvas {
  width: 100% !important;
  height: 100% !important;
}
